<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.ItemMapper">



	<select id="findAll" resultType="com.example.domain.Item">
		SELECT
		item_id
		,name
		,condition
		,category_id
		,brand
		,price
		,shipping
		,description
		FROM items
		ORDER BY
		item_id
		LIMIT 30
		OFFSET #{offset}
	</select>
	
	<select id="countTotal" resultType="Integer">
		SELECT
		COUNT(*)
		FROM
		items
	</select>
</mapper>