<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ItemsMapper">

	<select id="findAll" resultType="com.example.domain.Item">
		SELECT
		item_id
		,name
		,condition
		,category_id
		,brand
		,price
		,shipping
		,description
		FROM items
		ORDER BY
		item_id
		LIMIT 30
		OFFSET #{offset}
	</select>

	<select id="pickUpLimit" resultType="Integer">
		SELECT
		COUNT(*)
		FROM items AS
		i
		LEFT OUTER JOIN category_tree_paths AS p
		ON
		i.category_id =
		p.descendant_id
		LEFT OUTER JOIN categories AS c
		ON
		p.ancestor_id =
		c.id
		WHERE
		i.item_id IN (
		SELECT
		item_id
		FROM items
		LIMIT 30
		OFFSET 30 *
		(#{thisPage} - 1)
		)
	</select>

	<select id="pickUpOffset" resultType="Integer">
		SELECT
		COUNT(*)
		FROM items AS
		i
		LEFT OUTER JOIN category_tree_paths AS p
		ON
		i.category_id =
		p.descendant_id
		LEFT OUTER JOIN categories AS c
		ON
		p.ancestor_id = c.id
		WHERE
		i.item_id IN (
		SELECT
		item_id
		FROM items
		LIMIT 30 * (#{thisPage} - 1)
		OFFSET 0
		)
	</select>



	<select id="load" resultType="com.example.domain.Item">
		SELECT
		item_id
		,name
		,condition
		,category_id
		,brand
		,price
		,shipping
		,description
		FROM items
		WHERE
		item_id =
		#{itemId}
	</select>

	<select id="countTotal" resultType="Integer">
		SELECT
		COUNT(*)
		FROM
		items
	</select>

	<select id="countTotalByForm" resultType="Integer">
		SELECT COUNT(*)
		FROM items
		WHERE
		name ILIKE CONCAT('%', #{name}, '%')
		AND
		brand ILIKE CONCAT('%', #{brand}, '%')
		<if test="id != null">
			AND
			category_id IN (
			SELECT
			descendant_id
			FROM
			category_tree_paths
			WHERE
			ancestor_id = 1
			)
		</if>
	</select>

	<select id="findByForm" resultType="com.example.domain.Item">
		SELECT
		item_id
		,name
		,condition
		,category_id
		,brand
		,price
		,shipping
		,description
		FROM items
		WHERE
		name ILIKE CONCAT('%', #{name}, '%')
		AND
		brand ILIKE CONCAT('%', #{brand}, '%')
		<if test="id != null">
			AND
			category_id IN (
			SELECT
			descendant_id
			FROM
			category_tree_paths
			WHERE
			ancestor_id = #{id}
			)
		</if>
		ORDER BY item_id
		LIMIT 30
		OFFSET #{offset}
	</select>

	<select id="insertItem" parameterType="map">
		INSERT INTO items
		(item_id,name,condition,category_id,brand,price,shipping,description,registered_date_time,registered_name,updated_date_time,updated_name)
		VALUES
		(#{item.itemId},#{item.name},#{item.condition},#{item.categoryId},#{item.brand},#{item.price},#{item.shipping},#{item.description},now(),'登録者(ログイン機能実装までの仮)',now(),'更新者(ログイン機能実装までの仮)')
	</select>

	<select id="updateItem" parameterType="map">
		UPDATE items
		SET
		name =
		#{item.name}
		,condition = #{item.condition}
		,category_id =
		#{item.categoryId}
		,brand = #{item.brand}
		,price = #{item.price}
		,shipping = #{item.shipping}
		,description = #{item.description}
		,updated_date_time = now()
		,updated_name = '更新者(ログイン機能実装までの仮)'
		WHERE
		item_id = #{item.itemId}
	</select>

	<select id="pickUpLatestItemId" resultType="Integer">
		SELECT
		MAX(item_id)
		from items
	</select>
	<select id="createIndexForItemId">
		CREATE UNIQUE INDEX idx_item_id ON items(item_id)
	</select>
	<select id="deleteIndexForItemId">
		DROP INDEX IF EXISTS idx_item_id
	</select>

</mapper>