<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css -->
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" th:href="@{/css/mercari.css}" />
    <title>Rakus Items</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-inverse">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar"
          aria-expanded="false"
          aria-controls="navbar"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}">Rakus Items</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a id="logout" href="./login.html"
                >Logout&nbsp;<i class="fa fa-power-off"></i
              ></a>
            </li>
          </ul>
          <p class="navbar-text navbar-right">
            <span id="loginName">user: userName</span>
          </p>
        </div>
      </div>
    </nav>

    <!-- details -->
    <div id="input-main" class="container">
      <a type="button" class="btn btn-default" th:href="@{/back}"
        ><i class="fa fa-reply"></i> back</a
      >
      <h2>Add</h2>

      <!-- add form -->
      <form
        th:action="@{/add-category/insert}"
        method="POST"
        class="form-horizontal"
        th:object="${addCategoryForm}"
      >
        <!-- category -->
        <div id="category">
          <!-- 親カテゴリ -->
          <div class="form-group" id="select-parent-category">
            <label for="parent-id" class="col-sm-2 control-label"
              >category[parent]</label
            >
            <div class="col-sm-8">
              <select
                class="form-control"
                id="parent-id"
                name="parentId"
                th:field="*{parentId}"
              >
                <option value="-1">-- parentCategory --</option>
                <option value="-2">-- NewCategory --</option>
                <div th:each="parentCategory : ${parentCategoryList}">
                  <option
                    th:text="${parentCategory.name}"
                    th:value="${parentCategory.id}"
                  >
                    親カテゴリ名
                  </option>
                </div>
              </select>
            </div>
          </div>
          <!-- 親カテゴリ新規入力 -->
          <div
            th:if="*{parentCategoryName}"
            class="form-group"
            id="input-parent-category"
          >
            <label for="parentCategoryName" class="col-sm-2 control-label"
              >新規カテゴリ名[parent]</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                name="parentCategoryName"
                th:field="*{parentCategoryName}"
              />
            </div>
          </div>

          <div
            th:if="${childCategoryList}"
            class="form-group"
            id="select-child-category"
          >
            <label for="child-id" class="col-sm-2 control-label"
              >category[child]</label
            >
            <div class="col-sm-8">
              <select
                class="form-control"
                id="child-id"
                name="childId"
                th:field="*{childId}"
              >
                <option value="-1">-- childCategory --</option>
                <option value="-2">-- NewCategory --</option>
                <div
                  th:if="${childCategoryList}"
                  th:each="childCategory : ${childCategoryList}"
                >
                  <option
                    th:text="${childCategory.name}"
                    th:value="${childCategory.id}"
                  >
                    子カテゴリ名
                  </option>
                </div>
              </select>
            </div>
          </div>

          <div
            th:if="*{childId} == -2"
            class="form-group"
            id="input-child-category"
          >
            <label for="childCategoryName" class="col-sm-2 control-label"
              >新規カテゴリ名[child]</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                name="childCategoryName"
                id="childCategoryName"
                th:field="*{childCategoryName}"
              />
            </div>
          </div>
          <!-- 孫カテゴリ -->
          <div
            th:if="(*{parentId} == -2) or (*{childId} == -2)"
            class="form-group"
            id="input-grand-child-category"
          >
            <label for="grandChildCategoryName" class="col-sm-2 control-label"
              >新規カテゴリ名[grandChild]</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                name="grandChildCategoryName"
                id="grand-child-category-name"
                th:field="*{grandChildCategoryName}"
              />
            </div>
          </div>
        </div>

        <!-- submit button -->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/show_cate.js}"></script>
    <script th:src="@{/js/view.js}"></script>
  </body>
</html>
